@charset "UTF-8";

/*========================================태그 선택자======================================*/

p {
	border: 0;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

strong {
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

div {
	margin: 0;
	border: 0;
    font-size: 100%;
    vertical-align: baseline;
    display: block;
}

section {
     display: block;
         font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    display: block;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline;
    color: #666;
    background: transparent;
    cursor: pointer;
}

input {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    vertical-align: top;
    border-radius: 0;
    font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
}


select {
 /*    -webkit-appearance: menulist; */
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    /* background-color: white; */
    cursor: default;
   /*  border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial; */
}

fieldset {
	margin-left: auto;
	margin-right: auto;
	/* margin: 0; */
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
	}



/*========================================태그 선택자 끝======================================*/


.hid {							/* legend 태그*/
    position: absolute;
    left: -9999px;
    font-size: 0;
    width: 0;
    height: 0;
    text-indent: -9999px;
    overflow: hidden;
}
	
	
.find_mem_ttl_div {				/*회원가입 문자 감싸는 태그*/
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.find_mem_ttl {
	
	font-size: 20px;
}
	
	
.renew_joinform_v2 {			/*2개의 section 태그들 */
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    max-width: 570px;
    margin: 0 auto 30px;
    position: relative;
}
	
	
.find_mem_sally {				/*커피 볶는 여자 이미지*/
    margin: 0 auto;
    text-align: center;
    padding: 30px 20px 0;
    background: url(//image.istarbucks.co.kr/common/img/util/mem/icon_find_sally.png) 50% 100% no-repeat;
    width: 205px;
    height: 182px;
}


.find_form_txt {				/*회원정보를 입력해주세요*/
	
    background: #fff;
    border-bottom: 1px solid #ddd;
    color: #777;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding: 30px 20px 30px;
}


.renew_input_box {				/*아이디 비번 label태그와 p태그를 감싸는 div태그*/
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 20px 20px;
    position: relative;
}

.renew_input_box input {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    /* margin-top: 10px; */
    max-width: 530px;
    /* outline: none; */
    padding: 15px;
    width: 100%;
}

.renew_input_box.id_chk input {
    /* width: 75.464%; */
    width: 100%;
}

.user_gender {
	
	margin-top: 30px;
}

.renew_input_box.addr_chk {
	
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.addr_chk input:nth-child(0) {
	width: 30%;
}

.addr_chk input:nth-child(1) {
	width: 30%;
}

.renew_input_box strong {
    color: #222;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}


.limit_txt {				/*아이디 비번 문자수 제한 경고문자*/
    color: #444;
    display: none;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 15px;
}


.bd_none {					/*비밀번호 확인에만. 자바스크립트 용인가?*/
    border: 0 !important;
}

/*==================================이름/성별 입력=========================================*/

.gender_chk {				/*	이름/성별 감싸는 div		*/
	overflow: hidden;
	height: auto;
	
}

.nofix_name {
    background: #f4f4f2;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
    padding: 15px;
}

.renew_input_box.gender_chk .nofix_name {		/*이름과 성별 입력하는 란. 이름을 앞에서 실명인증 하며 받아온다. 따라서 no-fix*/
    width: 49%;
    float: left; 
}


.renew_input_box.gender_chk input {
    width: 49%;
}


.user_gender {				/*  남/여 감싸는 div */
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    float: left;
    margin-left: 2%;
    overflow: hidden;
    width: 22.711%;
    /* line-height: 130px; */
}

.user_gender a {
    color: #b0b0b0;
    display: block;
    float: left;
    line-height: 45px;
    text-align: center;
    width: 50%;
}

.user_gender a.on {					/*남/여 둘 중에서 선택된 성별. 자바스크립트로 조정하는 듯*/
    background: #f4f4f2;
    color: #222;
}

.user_gender a.male {
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    width: 50%;
}


/*==============================================생일 입력================================================*/

.renew_input_box birth_chk strong {
	clear: both;
}


.select_birth_box .birth_select select {		/*  select_birth_box : 감싸는 div태그   */
    display: block;
    font-size: 14px;							/*  birth_select : 그 안의 select태그    */
    border: 1px solid #dddddd;
    /* text-indent: 10px; */
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    padding: 16px 5px;
    background: transparent;
    float: left;
}

/*		아래부터는 년=> 월 => 일 => 양력		*/

.select_birth_box .birth_select.year {
    width: 31.161%;
    float: left;
    margin-right: 1.760%;
    background: #fff url(../img/util/mem/icon_arrow_down.png) 90% center no-repeat;
    position: relative;
}

.select_birth_box .birth_select.month {
    width: 24.11%;
    float: left;
}

.select_birth_box .birth_select.day {
    width: 24.11%;
    float: left;
}

.select_birth_box .birth_select.yny {
    width: 15.3169%;
    margin-right: 0;
    float: left;
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}


.input_warn_text {			/*		경고문구: 현재 내용은 없다.		*/
    color: #ed1c24;
    font-size: 14px;
    line-height: 1.4;
    margin-top: 15px;
}


.select_birth_txt {			/*	생일카드 문구 입력하시면 어쩌구 		*/
	clear: both;
    color: #444;
    line-height: 1.6;
    margin-top: 15px;
    letter-spacing: -1px;
}

.a11y {							/*	구체적인 년,월,일,양력 들의 숫자들, 양이 굉장히 많다	*/
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    position: absolute;
}


.modify_txt2_div {				/*	선택항목은 입력하거나 동의하지 않아도 가입가능합니다.		*/
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	margin-bottom: 10px;
}

.btn_mem_login_div {			/*가입하기 a태그를 감싸는 div. 현재 가입하기가 form의 버튼이 아니라 자바스크립트로 되어있다. */
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 20px;
}

#postcode-error {
	
	display: block;
}
