@charset "UTF-8";

/*======================================태그선택자=========================================*/

p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

h5 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


div {
	border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

section {
    display: block;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

input {
    margin: 0;
    /* padding: 0; */
    box-sizing: content-box;
    vertical-align: top;
    border-radius: 0;
    font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
}

label {
    margin: 0;
    padding: 0;
    border: 0;
   font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

dd {
	    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ul {

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

li {
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
}

figure {
	display: inline;
}




/*=================================태그 선택자 끝=====================================*/


.essential {
	color: rgb(0, 102, 51)
}

.mem_destruction_wrap h5, .mem_purpose_wrap h5, .mem_article_wrap h5, .mem_agreement_wrap h5 {
    font-size: 18px;
    color: #222;				/*		각각의 소제목들의 텍스트 스타일들*/
    font-weight: bold;
    margin-bottom: 20px;
}

.join-form .mem_accreditation_info, .join-form div.mem_destruction_area, .join-form div.mem_purpose_area, .join-form div.mem_article_area, .join-form div.mem_agreement_area {
    width: auto;
}

.join-form {					/*   5개의 section 태그를 감싸는 하나의 큰 section 태그*/
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    max-width: 570px;
    margin: 0 auto 30px;
    position: relative;
}

.find_mem_sally {				/*		스타벅스 여자 그림. 어차피 딴 걸로 바꿔야 됨		*/
    margin: 0 auto;
    text-align: center;
    padding: 30px 20px 0;
    background: url(//image.istarbucks.co.kr/common/img/util/mem/icon_find_sally.png) 50% 100% no-repeat;
    width: 205px;
    height: 182px;
}

input.mem[type=checkbox]:not(old) {				/*이게 바로 동의 체크하는 동그란 버튼인 듯*/
    position: absolute;
        display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    top: 0px;
    left: 0px;
    padding: 0;
    border: 0 none;
    background: #fff;
    cursor: pointer;
        vertical-align: top;
            background-size: 26px;
    text-indent: -9999px;
        font-size: 0;
    overflow: hidden;
    z-index: 4;
}


input.mem[type=checkbox]:not(old) + label {
    position: absolute;
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    background: #fff url(//image.istarbucks.co.kr/common/img/util/mem/mem_check_off.png) 0 0 no-repeat;
    font-size: 13px;
    color: #3f4141;
    cursor: pointer;
    vertical-align: top;
    background-size: 26px;
    text-indent: -9999px;
    cursor: pointer;
    font-size: 0;
    overflow: hidden;
    z-index: 4;
}

@media screen and (max-width: 1099px) and (min-width: 961px)
div.mem_destruction_area, div.mem_purpose_area, div.mem_article_area, div.mem_agreement_area {
    width: 96%;
    padding: 20px 2%;
}

/*===========================홈페이지 이용약관 동의==========================*/


.join-form .mem_agreement_wrap {
    margin: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    padding: 3px 0;
   	margin-left: 0;
   	margin-right: 0;
}

.join-form div.mem_agreement_area {
    background: #f7f7f7;
    box-sizing: border-box;
    color: #666 !important;
    height: 170px;
    width: 100%;
}

div.mem_agreement_area {
   /*  width: 1058px;
    height: 146px; */
    border: 1px solid #ddd;
    border-radius: 3px;
   /*  padding: 20px; */
    margin-bottom: 20px;
    overflow: hidden;
}


.find_form_txt {				/*회원가입 약관동의 및 가입 페이지입니다!!!*/
    background: #fff;
    border-bottom: 1px solid #ddd;
    color: #777;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding: 30px 20px 30px;
}

.agree-check {						/*동의를 감싸는 span태그 ? 이미지인가?*/
    position: absolute;
    display: block;
    width: 26px;
    right: 3px;
    top: 0;
}

.mem_agreement_wrap h5 {
    font-size: 18px;
    color: #222;
    font-weight: bold;
    margin-bottom: 20px;
}

/*===========================스크롤바====================================*/

.mCustomScrollbar {						/*둘 다 div 태그*/
    -ms-touch-action: none;
    touch-action: none;
}

.mCustomScrollBox {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    outline: none;
    direction: ltr;
}

/*================================개인정보 수집 및 이용동의===============================*/

.join-form div.mem_purpose_area, .join-form div.mem_agreement_area {
    background: #f7f7f7;
    box-sizing: border-box;
    color: #666 !important;
    height: 170px;
    width: 100%;
}

div.mem_purpose_area_v2 {
    /* width: 1058px;
    height: 200px; */
    border: 1px solid #ddd;
    border-radius: 3px;
    /* padding: 20px; */
    margin-bottom: 20px;
    overflow: hidden;
}

.join-form .mem_purpose_wrap h5 {
    padding-right: 30px;
}

/*================Email 및 SMS인증은 어디에?=========================*/


/*=================================회원가입시 유의사항=============================*/

.mem_join_note {			/*회원가입시 유의사항 section 태그*/
    margin: 20px;
    margin-bottom: 30px;
}




/*===================인증방식 선택=====================*/

@media screen and (max-width: 1099px) and (min-width: 961px)
.mem_accreditation_info li.li1, .mem_peopleJoin_info li.li1, .mem_peopleJoin_info li.li1 {
    width: 49.5%;
}

.join-form .mem_accreditation_wrap {     /*  인증방식 선택 section     */
    margin: 20px;
    width: auto;
    height: 280px;
}

.join-form .mem_accreditation_info, .join-form .mem_peopleJoin_info {
    padding: 25px 0;
    
}

.mem_accreditation_info li.li1, .mem_peopleJoin_info li.li1, .mem_peopleJoin_info li.li1 {
    /* width: 548px; */
    border-right: 1px solid #ddd;
    display: inline;
}

.mem_accreditation_info li, .mem_peopleJoin_info li {
    float: left;
    /* width: 549px; */
    text-align: center;
    display: inline;
    width: 45%;
}


.li1 {					/*휴대폰 인증*/
	float: left;
	display: inline;
	width: 50%;
	text-align: center;
}

.li2 {					/*이메일 인증*/
	float: left;   
    width: 549px;
    text-align: center;
    display: inline;
    width: 50%;
}

/* .mem_accreditation_info {
	width: auto;
	height: auto;
}
 */
 
 
 .mCustomScrollBox {
 	overflow: scroll;
 }
 
/*  .ttl_div {
 	text-align: center !important;
 }
 
 .find_mem_ttl {
 	
 	display: inline !important;
 	width: 50px !important;
 	align: center !important;
 } */
 
 
 .find_mem_ttl_div {				/*회원가입 문자 감싸는 태그*/
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.find_mem_ttl {
	
	font-size: 20px;
}

.TermAlbum {
	
	padding-top: 30px;
}
 